.wy-table-responsive table td {
    white-space: normal !important;
}

/* Switch order of project name and logo in sidebar */
body > div > nav > div > div.wy-side-nav-search > a {
    display: flex !important;
    justify-content: center !important;
    flex-direction: column-reverse !important;
}

/* Resize RDK logo and adjust margins after reordering with project name */
body > div.wy-grid-for-nav > nav > div > div.wy-side-nav-search > a > img {
    width: 100% !important;
    margin-bottom: 1em !important;
    margin-top: 1em !important;
}

/* Remove home icon in sidebar */
body > div.wy-grid-for-nav > nav > div > div.wy-side-nav-search > a::before {
    content: "" !important;
}

/* Resize search bar to match width of content table */
.wy-side-nav-search input[type="text"] {
    width: 93% !important;
    border: 0 !important;
    border-radius: 3px !important;
}

/* Use Flexiv VI heading font for heading 1 */
h1 {
    font-family: "Handel Gothic" !important;
    font-weight: bold;
    font-size: 40px;
}

/* Use Flexiv VI text font for the rest */
h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend {
    font-family: "Helvetica" !important;
}

/* Use Flexiv VI blue for top of sidebar */
.wy-side-nav-search {
    background-color: #345a8a !important;
}

/* Use Flexiv VI blue for rest of sidebar */
.wy-nav-side {
    background-color: #345a8a !important;
}